@font-face { 
    font-family: "test1"; 
        src: url("../fonts/m5x7.ttf") format("truetype"); 
    font-family: "test2"; 
    src:  url("../fonts/pixelmix.ttf") format("truetype"); 
    font-family: "test2"; src: 
        url("../fonts/pixelmix_bold.ttf") format("truetype");
}


body {
    font-family: "test1";
    line-height: 1.4;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position:relative;
    background-color: black;
}
