@font-face { 
    font-family: "pixelFont"; 
        src: url("../fonts/pixelmix.ttf") format("truetype"); 
}
*{font-family: "pixelFont";}

body {
    line-height: 1.4;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position:relative;
    background-color: black;
    justify-content: center;
}
#wrapper{position: relative;}

.title{
    position: absolute;
    left: 20px;
}

/*BAKGRUNDSBILDER */
#home, #zoomHome, #backyard, #zoomBackyard, #inside{
    background-size: cover;
    width: 1000px;
    height: 600px;
    position: relative;
}
#home{background-image: url("../images/backgrounds/home.png");}
#zoomHome{background-image: url("../images/backgrounds/zoomHome.png");}
#backyard{background-image: url("../images/backgrounds/backyard.png");}
#zoomBackyard{background-image: url("../images/backgrounds/zoomBackyard.png");}
#inside{background-image: url("../images/backgrounds/inside.png");}
#home, #backyard, #zoomBackyard, #inside > h1{font-size: 22px;}
#home, #backyard, #zoomBackyard, #inside > h2{font-size: 22px;}
#home, #backyard, #zoomBackyard, #inside > h3{font-size: 20px;}
#home, #backyard, #zoomBackyard, #inside > h4{font-size: 18px;}
#home, #backyard, #zoomBackyard, #inside > h5{font-size: 16px;}
#home, #backyard, #zoomBackyard, #inside > h6{font-size: 16px;}
#home, #backyard, #zoomBackyard, #inside > p{font-size: 22px;}


/*VÄLKOMSTTEXT*/
#index > #parchmentFold,
#sign-in > #parchmentFold{
    background-image: url("../images/UI/Worn-Parchment-BG-2.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    display:flex;
    justify-content: center;
}
#sign-in > #parchmentFold{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}
#sign-in > #parchmentFold > .text{position:absolute;bottom: 120px;left: 50px;}
form {display:flex; flex-direction: column; align-items: center;}
form > input{margin: 10px;}
#index > #parchmentFold > .text{width: 300px; text-align: center; margin-top:6px;}
#index > #parchmentFold > .text > h6{margin-top: 0px; margin-bottom:0px;}
#index > #parchmentFold > .text > p{ margin-bottom:5px;}
#index > #parchmentFold > .text > p:first-child + p{ margin-top:0px;margin-bottom:2px;}
#index > #parchmentFold > h6 .title{margin-bottom: 5px;}
.choices > a, .choices > span{margin-top:4px; font-size: 12px;}
#index > #parchmentFold > .text > .choices{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: 15px;}
#index{
    width: 370px;
    height: 300px;
    position: absolute;
    right: 30px;
    top: 30px;
    background-repeat: no-repeat;
}
#sign-in{
    width: 370px;
    height: 300px;
    position: absolute;
    right: 120px;
    top: 330px;
    background-repeat: no-repeat;
}

/*NAVIGATION */

#signContainer > #toBackyard{/*#home to list.php*/
    position: absolute;
    left: 490px;
    top: 150px;
    width: 100px;
    height: 150px;
}
#toBackyard > p{
    position: absolute;
    display:flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    top: 7px;
    left:22px;
}
#signContainer > #toAdd{/*#home to add*/
    position: absolute;
    left: 160px;
    top: 275px;
    width: 100px;
    height: 150px;
} 
#toAdd > p{
    position: absolute;
    display:flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    left: 30px;
    top: 20px;
}
#signContainer > #toProfile{/*#home to profile*/
    position: absolute;
    left: 260px;
    top: 275px;
    width: 100px;
    height: 150px;
}
#toProfile > p{
    position: absolute;
    display:flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    left: 35px;
    top: 23px;
}
#signContainer > #toInsideFromHome{/*#home to sign.in*/
    position: absolute;
    left: 210px;
    top: 275px;
    width: 110px;
    height: 150px;
}
#toInsideFromHome > p{
    position: absolute;
    display:flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    left: 32px;
    top: 20px;
}
#signContainer > #toInsideFromList{/*#list to unlock sign-in*/
    position: absolute;
    left: 500px;
    top: 5px;
    width: 100px;
    height: 150px;
}
#toInsideFromList > p{
    position: absolute;
    display:flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    left: 26px;
    top: 20px;
}
#signContainer > #toProfileFromList{/*#list to profile*/
    position: absolute;
    left: 600px;
    top: 5px;
    width: 100px;
    height: 150px;
}
#toProfileFromList > p{
    position: absolute;
    display:flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    left: 33px;
    top: 25px;
}
#signContainer > #toAddFromList{/*#list to add.php*/
    position: absolute;
    left: 700px;
    top: 5px;
    width: 100px;
    height: 150px;
}
#toAddFromList > p{
    position: absolute;
    display:flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    left: 30px;
    top: 20px;
}
#signContainer > #toHomeFromList{/*#list to index.php*/
    position: absolute;
    left: 400px;
    top: 5px;
    width: 100px;
    height: 150px;
}
#toHomeFromList > p{
    position: absolute;
    display:flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    left: 11px;
    top: 15px;
}
#backyard > #signContainer > #backFromSpecific{/*(#list) back to list.php*/
    position: absolute;
    left: 50px;
    top: 70px;
    width: 100px;
    height: 150px;
}
#show > #signContainer > #backFromSpecific{/*/#show) back to list.php*/
    position: absolute;
    left: 50px;
    top: 35px;
    width: 100px;
    height: 150px;
}
#backFromSpecific > p{
    position: absolute;
    display:flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    left: 16px;
    top: 15px;
}
#signContainer > #toHomeFromShow{/*#show to index.php*/
    position: absolute;
    left: 350px;
    top: 35px;
    width: 100px;
    height: 150px;
}
#toHomeFromShow > p{
    position: absolute;
    display:flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    left: 12px;
    top: 15px;
}
#signContainer > #toInsideFromShow{/*#show to sign-in*/
    position: absolute;
    left: 450px;
    top: 35px;
    width: 100px;
    height: 150px;
}
#toInsideFromShow > p{
    position: absolute;
    display:flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    left: 27px;
    top: 15px;
}
#signContainer > #toProfileFromShow{/*#show to profile*/
    position: absolute;
    left: 250px;
    top: 70px;
    width: 100px;
    height: 150px;
}
#toProfileFromShow > p{
    position: absolute;
    display:flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    left: 16px;
    top: 15px;
}
#signContainer > #toAddFromShow{/*#show to add*/
    position: absolute;
    left: 150px;
    top: 70px;
    width: 100px;
    height: 150px;
}
#toAddFromShow > p{
    position: absolute;
    display:flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    left: 16px;
    top: 15px;
}
#toBackyard,
#toProfile, 
#toAdd,
#toInsideFromHome,
#toInsideFromList,
#toProfileFromList,
#toAddFromList,
#toHomeFromList,
#backFromSpecific,
#toHomeFromShow,
#toInsideFromShow,
#toProfileFromShow,
#toAddFromShow{
    background-image: url("../images/UI/Box-1-Opaque.png"); 
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}




/*FOOOTER*/
footer{
    margin-top: 20px;
    display:flex;
    flex-direction: column;
    text-align: center;
}

footer p {
    text-align: center;
    font-style: italic;
    font-size: 12px;
    color: rgb(168, 167, 167);
}

/* SIGN OUT */
#loggedContainer{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 180px;
}
#loggedIn{
    background-image: url("../images/UI/Parchment-Scroll.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;

}
#loggedIn > a {
    font-size: 14px;
    position: relative;
    bottom: 3px;
}

/*SHOW - dogs */
#show .einHundList, .einHundProfile{
    position: absolute;
    font-size: 16px;
}
#show .dogInfo > .name > :first-child{font-weight: bolder;}
#show .dogInfo > .breed > :first-child, 
#show .dogInfo > .age > :first-child,
#show .dogInfo > .owner > :first-child,
#show .dogInfo > .notes> :first-child{
    margin: 0px 10px 0px 10px;
    font-weight: bolder;
}
#show .einHundList{top: 250px;left: 200px;}

/*LIST - dogs */
.einHundList, .einHundProfile{
    position: absolute;
    font-size: 10px;
}

.dogInfo{
    display:grid;
    text-align:center;
    background-color: rgb(214, 192, 118);
    border: 4px solid rgb(138, 123, 75);
}
#show .dogInfo{grid-template-columns: repeat(5, 80px);}
#list .dogInfo{grid-template-columns: repeat(5, 50px);}
.dogInfo > .name > :first-child,
.dogInfo > .breed > :first-child, 
.dogInfo > .age > :first-child,
.dogInfo > .owner > :first-child,
.dogInfo > .notes> :first-child{
    margin: 0px 4px 0px 4px;
    font-weight: bolder;
}
.dogInfo > .notes{
    position: absolute;
    background-color: rgb(214, 192, 118);
    border-right: 4px solid rgb(138, 123, 75);
    border-bottom: 4px solid rgb(138, 123, 75);
    z-index: 1;
}
#list .dogInfo > .notes{left: 210px;}
#show .dogInfo > .notes{left: 330px;}
.dogInfo > .breed{
    margin: 0px 4px 0px 4px;
}
#list .dog1, 
#list .dog2,
#list .dog3,
#list .dog4,
#list .dog5,
#list .dog6,
#list .dog7,
#list .dog8 { 
    width: 50px;
    height:50px;
    position:absolute;
    left: 150px;
    background-size: contain;
}
#show .dog1, 
#show .dog2,
#show .dog3,
#show .dog4,
#show .dog5,
#show .dog6,
#show .dog7,
#show .dog8 { 
    width: 120px;
    height:120px;
    position:absolute;
    left: 150px;
    background-size: contain;
}
/*ful lösning lol*/
.einHundList:nth-child(1){top: 300px; left: 300px;}
.einHundList:nth-child(2){top: 465px; left: 220px;}
.einHundList:nth-child(3){top: 200px; left: 0px;}
.einHundList:nth-child(4){top: 450px; left: 520px;}
.einHundList:nth-child(5){top: 180px; left: 430px;}
.einHundList:nth-child(6){top: 320px; left: 600px;}
.einHundList:nth-child(7){top: 350px; left: 25px;}
.einHundList:nth-child(8){top: 465px; left: 220px;}

.dog1{background-image: url("/assets/images/animals/dog_1.gif");}
.dog2{background-image: url("/assets/images/animals/dog_2.gif");}
.dog3{background-image: url("/assets/images/animals/dog_3.gif");}
.dog4{background-image: url("/assets/images/animals/dog_4.gif");}
.dog5{background-image: url("/assets/images/animals/dog_5.gif");}
.dog6{background-image: url("/assets/images/animals/dog_6.gif");}
.dog7{background-image: url("/assets/images/animals/dog_7.gif");}
.dog8{background-image: url("/assets/images/animals/dog_8.gif");}
/*header > h1{text-align: center;
    color: white;}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
}

nav a {
    font-family: Helvetica;
    padding: 10px 20px;
    text-decoration: none;
    color: #3a3a3a;
    border-bottom: 1px solid #aaa;
}

nav a:hover {
    transition: background-color 200ms ease;
    background-color: #eee;
}

#wrapper{
    box-shadow: 0px 0px 25px 2px rgb(121, 121, 121);
    padding: 10px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}

#wrapper > h3{
    margin:0px;
    margin-bottom: 5px;
}




nav > h2 a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0px;
}
nav > h2{margin-top:0px;}

form {
    max-width: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


input, button {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

input {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-bottom: 5px;
}

button {
    padding: 8px 10px;
    border-radius: 2px;
    color: #ffffff;
    background-color: rgb(27, 117, 177);
    border: 0;
    cursor: pointer;
    transition: background-color 200ms ease;
    display:flex;
    justify-content: center;
}

button:hover {
    background-color: rgb(24, 92, 138);
}

form h2 {
    color: #3a3a3a;
    margin-top: 0;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #aaa;
}

.fett {
    font-weight:bolder;
}

.error {
    font-size: 14px;
    font-style: italic;
    text-align: center;
    color: #d94e4e;
}

#list, #profile{
    display:flex;
    flex-direction: column;
    width: 100%;
}
.oneDog{
    display:grid;
    grid-template-columns: repeat(6, 147px);
    width: 100%;
}


.oneDog  p {
    flex-basis: 0;
    flex-grow: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.oneDog:not(:first-child)
.name > p:first-child, 
.oneDog:not(:first-child)
.breed > p:first-child, 
.oneDog:not(:first-child)
.age > p:first-child, 
.oneDog:not(:first-child)
.notes > p:first-child, 
.oneDog:not(:first-child)
.owner > p:first-child, 
.oneDog:not(:first-child)
.delete > p:first-child{
    opacity: 0;
    margin: 0px;
}

.oneDog:not(:last-child)
.name > p:last-child, 
.oneDog:not(:last-child)
.breed > p:last-child, 
.oneDog:not(:last-child)
.age > p:last-child, 
.oneDog:not(:last-child)
.notes > p:last-child, 
.oneDog:not(:last-child)
.owner > p:last-child, 
.oneDog:not(:last-child)
.delete > p:last-child{
    margin-top: 0px;
}

.oneDog:first-child .name > p:last-child, 
.oneDog:first-child .breed > p:last-child, 
.oneDog:first-child .age > p:last-child, 
.oneDog:first-child .notes > p:last-child, 
.oneDog:first-child .owner > p:last-child, 
.oneDog:first-child .delete > p:last-child{
    margin-bottom: 5px;

}

.oneDog:first-child .name > p:last-child, 
.oneDog:first-child .breed > p:last-child, 
.oneDog:first-child .age > p:last-child, 
.oneDog:first-child .notes > p:last-child, 
.oneDog:first-child .owner > p:last-child{
    margin-top: 3px;
}

.oneDog:first-child .name > p:first-child, 
.oneDog:first-child .breed > p:first-child, 
.oneDog:first-child .age > p:first-child, 
.oneDog:first-child .notes > p:first-child, 
.oneDog:first-child .owner > p:first-child, 
.oneDog:first-child .delete > p:first-child{
    font-weight:bolder;
    color:white;
    text-shadow: 1px 1px 5px black;
}

.oneDog a{
    text-decoration: none;
    color:rgb(24, 92, 138);
    font-weight: bold;
    transition: color 200ms ease;
}

.oneDog a:hover{
    color: rgb(16, 64, 97);
    text-decoration: underline;
}

.oneDog .delete > p:last-child a{
    color:white;
    background-color: rgb(177, 43, 83);
    padding: 7px;
    transition: background-color 200ms ease;
}
.oneDog .delete > p:last-child a:hover{
    background-color: rgb(148, 36, 69);
}
.oneDog .delete > p:last-child a:active{
    background-color: rgb(92, 22, 43);
}

.oneDog .owner > p:last-child{
    font-style: italic;
}

.oneDog:first-child{
    padding-bottom: 4px;
}

.oneDog:nth-child(odd) {
    background-color: rgb(236, 245, 252);
}
.oneDog:nth-child(even) {
    background-color: rgb(243, 239, 255);
}
*/