body {
    font-family: Helvetica;
    line-height: 1.4;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position:relative;
}

header > h1{text-align: center;
    color: white;}

header{
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 10;
    position: relative;
    margin-top: 10px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    font-family: Helvetica;
    padding: 10px 20px;
    text-decoration: none;
    color: #3a3a3a;
    border-bottom: 1px solid #aaa;
}

nav a:hover {
    transition: background-color 200ms ease;
    background-color: #eee;
}

#wrapper{
    box-shadow: 0px 0px 25px 2px rgb(121, 121, 121);
    padding: 10px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}

#wrapper > h3{
    margin:0px;
    margin-bottom: 5px;
}


.title{
    text-align: center;
    font-family: Georgia;
    font-weight: normal;
    text-align: center;
    margin: 2px 0px 10px 0px;
    text-align: center;
}

nav > h2 a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0px;
}
nav > h2{margin-top:0px;}

form {
    max-width: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


input, button {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

input {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-bottom: 5px;
}

button {
    padding: 8px 10px;
    border-radius: 2px;
    color: #ffffff;
    background-color: rgb(27, 117, 177);
    border: 0;
    cursor: pointer;
    transition: background-color 200ms ease;
    display:flex;
    justify-content: center;
}

button:hover {
    background-color: rgb(24, 92, 138);
}

form h2 {
    color: #3a3a3a;
    margin-top: 0;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #aaa;
}

footer{
    position:absolute;
    bottom: 0px;
    display:flex;
    padding-top: 10px;
    border-top: 1px solid #aaa;
}
footer > p:last-child{padding-left: 5px;}
footer p {
    margin: 0px 0px 10px 0px;
    text-align: center;
    font-family: Georgia;
    font-style: italic;
    font-size: 14px;
    color: #6a6a6a;
}


.fett {
    font-weight:bolder;
}

.error {
    font-size: 14px;
    font-style: italic;
    text-align: center;
    color: #d94e4e;
}

#list, #profile{
    display:flex;
    flex-direction: column;
    width: 100%;
}
.oneDog{
    display:grid;
    grid-template-columns: repeat(6, 147px);
    width: 100%;
}


.oneDog  p {
    flex-basis: 0;
    flex-grow: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

/* lolol specifikt */
.oneDog:not(:first-child)
.name > p:first-child, 
.oneDog:not(:first-child)
.breed > p:first-child, 
.oneDog:not(:first-child)
.age > p:first-child, 
.oneDog:not(:first-child)
.notes > p:first-child, 
.oneDog:not(:first-child)
.owner > p:first-child, 
.oneDog:not(:first-child)
.delete > p:first-child{
    opacity: 0;
    margin: 0px;
}

.oneDog:not(:last-child)
.name > p:last-child, 
.oneDog:not(:last-child)
.breed > p:last-child, 
.oneDog:not(:last-child)
.age > p:last-child, 
.oneDog:not(:last-child)
.notes > p:last-child, 
.oneDog:not(:last-child)
.owner > p:last-child, 
.oneDog:not(:last-child)
.delete > p:last-child{
    margin-top: 0px;
}

.oneDog:first-child .name > p:last-child, 
.oneDog:first-child .breed > p:last-child, 
.oneDog:first-child .age > p:last-child, 
.oneDog:first-child .notes > p:last-child, 
.oneDog:first-child .owner > p:last-child, 
.oneDog:first-child .delete > p:last-child{
    margin-bottom: 5px;

}

.oneDog:first-child .name > p:last-child, 
.oneDog:first-child .breed > p:last-child, 
.oneDog:first-child .age > p:last-child, 
.oneDog:first-child .notes > p:last-child, 
.oneDog:first-child .owner > p:last-child{
    margin-top: 3px;
}

.oneDog:first-child .name > p:first-child, 
.oneDog:first-child .breed > p:first-child, 
.oneDog:first-child .age > p:first-child, 
.oneDog:first-child .notes > p:first-child, 
.oneDog:first-child .owner > p:first-child, 
.oneDog:first-child .delete > p:first-child{
    font-weight:bolder;
    color:white;
    text-shadow: 1px 1px 5px black;
}

.oneDog a{
    text-decoration: none;
    color:rgb(24, 92, 138);
    font-weight: bold;
    transition: color 200ms ease;
}

.oneDog a:hover{
    color: rgb(16, 64, 97);
    text-decoration: underline;
}

.oneDog .delete > p:last-child a{
    color:white;
    background-color: rgb(177, 43, 83);
    padding: 7px;
    transition: background-color 200ms ease;
}
.oneDog .delete > p:last-child a:hover{
    background-color: rgb(148, 36, 69);
}
.oneDog .delete > p:last-child a:active{
    background-color: rgb(92, 22, 43);
}

.oneDog .owner > p:last-child{
    font-style: italic;
}

.oneDog:first-child{
    padding-bottom: 4px;
}

.oneDog:nth-child(odd) {
    background-color: rgb(236, 245, 252);
}
.oneDog:nth-child(even) {
    background-color: rgb(243, 239, 255);
}





